<div class="span4 offset4 shadowy text-center">
		<h1>Kaki Ettinger</h1>
		<h2>About Me</h2>
		<a href="/Ettinger_Project_Portfolio.pdf"><h2>Project Portfolio</h2></a>
		<a href="/Ettinger_Resume.pdf"><h2>Resume</h2></a>
	</div>
</div>