<div class="span10 offset2 shadowy2">
		<div class = "row">
		<h1 class = "text-center">About Me</h1>
		</div>
		<div class = "row">
			<div class = "span3 offset.75">
				<%= image_tag 'Kaki.jpg', :alt => 'Kaki' %> 
			</div>
			<div class = "span7">
				<h3>I am passionate about new product development, digital media and design thinking. I love to build things.</h3>
				<h3>In my spare time, I like to create digital art, fusing hand-drawn, 2D- and 3D-imaging techonlogies (such as the background of this website!). I volunteer as an Assistant Curator at the <a href="http://moca.virtual.museum"><font color="white"><u>Museum of Computer Art (MOCA)</font></u></a>, a non-profit online computer arts museum featuring work from artists around the world.</h3>
			</div>
		</div>
	</div>
</div>